In [58]:
import pandas as pd
import openpyxl
import numpy as np

num_rows = 50

data = {
    'Produto': [f'Produto_{i}' for i in range(1, num_rows + 1)],
    'Categoria': np.random.choice(['Televisão', 'Computador', 'Tablet', 'Impressora'], size = num_rows),
    'Preço': np.random.uniform(100.0, 2000.0, size = num_rows).round(2),
    'Quantidade_Estoque': np.random.randint(1, 50, size = num_rows)
}

df = pd.DataFrame(data)
df.head()

     Produto   Categoria    Preço  Quantidade_Estoque
0  Produto_1      Tablet  1509.84                  48
1  Produto_2  Computador   603.86                   2
2  Produto_3   Televisão   916.33                  43
3  Produto_4  Computador   486.52                  12
4  Produto_5  Impressora   480.68                  42

In [ ]:
df['Quantidade_Vendida'] = np.random.randint(1, df['Quantidade_Estoque'], size=num_rows)

df['Lucro'] = df['Preço'] * df['Quantidade_Vendida']

print(df.head())

In [ ]:
def calcular_valor_total(row):

    return row['Preço'] * row['Quantidade_Vendida']

data = { 
    'Produto':[f'Produto_{i}' for i in range(1,num_rows + 1)],
    'Categoria': np.random.choice(['Televisão', 'Computador', 'Celular','Tablet','Impreossora'], size=num_rows),
    'Preço': np.random.uniform(100.0, 2000.0, size=num_rows).round(2),
    'Quantidade_Estoque': np.random.randint(1, 50, size=num_rows)}

df['Quantidade_Vendida'] = np.random.randint(1, df['Quantidade_Estoque'], size=num_rows)


df['Lucro'] = df['Preço'] * df['Quantidade_Vendida']


df['Lucro'] = df.apply(calcular_valor_total, axis=1)

print(df.head())   
print(df['Lucro'].describe())

In [ ]:
df_filtro_computador = df[df['Categoria'] == 'Computador']
print(df_filtro_computador)

In [ ]:
computadores_500 = df[(df['Preço'] > 500) & (df['Categoria'] == 'Computador')]
print(computadores_500)

In [ ]:
impressoras_40 = df[(df['Quantidade_Estoque'] > 40) | (df['Categoria'] == 'Impressora')]
print(impressoras_40)

In [70]:
# export
caminho_arquivo = r'C:\Users\pedro_e_possamai\Desktop\VsCode-Codes\pandas - Library\arquivo_excel.xlsx'
df.to_excel(caminho_arquivo)